.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container h2{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.card{
    height: auto;
    width: 300px;
    margin: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgb(0,0,0,0.16);
    display: inline-block;
    border-radius: 5px;
    align-items: center;
}

.items{
    list-style: none;
    background-color: rgb(228, 240, 248);
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
}

.icon{
    margin-left: 5px;
    font-size: 18px;
}

button{
    height: auto;
    width: auto;
}

button:hover{
    cursor: pointer;
}